.container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.info {
    width: 1400px;
    background-color: white;
    box-shadow: 5px 5px 5px 0 #DBDBDB;
    border-radius: 1em;
    overflow: hidden;
}