.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.blockTitle {
    width: 100%;
    height: 40px;
    background-color: #69c0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #f8f9fa;
}

.token {
    background-color: white;
    box-shadow: 5px 5px 5px 0 #DBDBDB;
    border: solid 0 darkgrey;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.tokenContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.block {
    max-width: 800px;
    flex-grow: 1;
}

.block2 {
    max-width: 800px;
    flex-grow: 1;
}

.table {
    background-color: white;
    box-shadow: 5px 5px 5px 0 #DBDBDB;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    align-self: flex-start;
}

.button {
    margin-top: 10px;
}

.photo {
    align-self: flex-start;
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    color: white;
}

input[type="file"] {
    display: none;
}

.customFileUpload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 20px;
}

.mainPhoto {
    max-width: 140px;
    border-radius: 100%;
    border: 1px solid gainsboro;
}

@media (max-width: 992px) {
    .container {
        align-items: center;
    }
    .block2 {
        align-self: center;
        width: 100%;
        max-width: 700px;
    }
    .block {
        width: 100%;
        max-width: 700px;
    }
}