.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    max-width: 800px;
    flex-grow: 1;
    overflow: auto;
}

.photoContainer {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
}

.userPhoto {
    max-width: 140px;
    border-radius: 100%;
    border: 1px solid gainsboro;
}

input[type="file"] {
    display: none;
}

.customFileUpload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 20px;
    color: black;
}

@media (max-width: 992px) {
    .block {
        width: 100%;
        max-width: 700px;
    }
    .userPhoto {
        max-width: 120px;
    }
}