.formControl.error input {
    border: solid #ffdf47 1px;
    margin-bottom: 5px;
}
.formControl input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
}
.formControl input:hover {
 background-color: #ffffff;
 box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}
.formControl input:focus {
     outline: none;
     box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.formSummaryError {
    color: red;
}

@media (max-width: 767px) {
    .formControl input {
        height: 32px;
        min-width: 16em;
    }
}