
.nav {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    height: 91vh;
    background-color: white;
}

.item {
    margin: 20px;
}

.item a {
    color: #333333;
    text-decoration: none;
}