.header {
    height: 64px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 9;
}
.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.collapseContainer {
    padding: 18px 24px;
    height: 64px;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    padding: 0 24px;
    height: 30px;
    display: none;
}

.number {
    width: 300px;
}

.userContainer {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.userContainer span {
    cursor: pointer;
}

.ava {
    margin-right: 20px;
}

@media (max-width: 992px) {
    .number {
        width: 200px;
    }
}

@media (max-width: 767px) {
    .logo {
        display: block;
    }
    .collapseContainer {
        display: none;
    }
    .number {
          width: auto;
          display: none;
    }
    .ava {
        margin-right: 5px;
    }
}