.container {
    display: flex;
    justify-content: center;
}

.tokenContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 24px;
}

.tokenItem {
    margin: 15px 0;
}

.tokenItem img {
    width: 280px;
    margin-right: 40px;
}

.tokenItem input {
    height: 30px;
    width: 200px;
}

@media (max-width: 992px) {
    .tokenItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tokenItem img {
        width: 240px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}