.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.block {
    max-width: 800px;
    flex-grow: 1;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 24px;
}

.token {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
}

.token img {
    width: 280px;
    margin-right: 40px;
}

.content input {
    height: 30px;
    width: 200px;
}

@media (max-width: 992px) {
    .token {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content {
        margin-right: 0;
    }
    .token img {
        height: 36px;
        margin-right: 0;
        margin-bottom: 24px;
    }
}