.app-wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  display: flex;
  flex-direction: column;
}

.basic {
  display: flex;
  background-color: whitesmoke;
  height: 90vh;
  padding-top: 20px;
}

.content {
  flex-grow: 1;
}