.baseContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.baseContainer .header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}
.baseContainer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baseContainer .content .image {
    width: 12em;
}
.baseContainer .content .image img {
    width: 100%;
    height: 100%;
}
.baseContainer .content .form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baseContainer .content .form .formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}
.baseContainer .content .form .formGroup label {
    font-size: 20px;
}
.baseContainer .footer {
    margin-top: 3em;
}

.btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #2386c8;
}

.btn:focus {
    outline: none;
}
