.app-wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex; /*media*/
}

.content-wrapper {
  background-color: whitesmoke;
  /*display: flex;*/
  min-height: 100vh;

  width: 100%;
}

.navbar {
}

.content {
  padding: 20px;
  flex-grow: 1;
}

@media (max-width: 992px) {
  .app-wrapper{
    display: block;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .navbar {
    position: sticky;
    bottom: 0;
    z-index: 100;
  }
  .content {
  }
}