.app-wrapper {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
}

.content-wrapper {
  background-color: #f0f2f5;
  min-height: 100vh;
  width: 100%;
  z-index: 9;
}

.content {
  padding: 12px;
  width: 100%;
}

@media (max-width: 767px) {
  .app-wrapper{
    display: block;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}