.container {
    padding: 50px;
    display: flex;
    margin: 0px auto;
    justify-content: space-around;
}

.info {
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 3px 3px 15px 1px #C6C6C6;
}